<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EComDB"
		connectionString="Data Source=localhost;
		Initial Catalog=ECOM_DB;
		Integrated Security=true;
		TrustServerCertificate=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>