<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="JwtSecret" value="SUPER_SECRET_KEY_1239139812390" />
		<add key="JwtAudience" value="" />
		<add key="JwtIssuer" value="" />
		<add key="JwtTokenExpireMinutes" value="10080" />
	</appSettings>
	<connectionStrings>
		<add name="EComDB"
		connectionString="Data Source=localhost;
		Initial Catalog=ECOM_DB_0004;
		Integrated Security=true;
		TrustServerCertificate=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>