<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">ECom.Admin</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="admins">
        <span class="oi oi-plus" aria-hidden="true"></span> Admins
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="categories">
        <span class="oi oi-plus" aria-hidden="true"></span> Categories
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="admins">
        <span class="oi oi-plus" aria-hidden="true"></span> Products
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Option
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="option/base">Base Option</a>
          </li>
          <li>
            <a class="dropdown-item" href="option/smtp">Smtp Option</a>
          </li>
          <li>
            <a class="dropdown-item" href="option/cargo">Cargo Option</a>
          </li>
        </ul>
      </div>

      <div>
        <NavLink class="nav-link" href="admins">
          <span class="oi oi-plus" aria-hidden="true"></span> Option
        </NavLink>
      </div>
    </div>
  </nav>
</div>

@code {
  private bool collapseNavMenu = true;

  private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu() {
    collapseNavMenu = !collapseNavMenu;
  }

}