@inherits BaseValueChangedComponent<string>
<div class="mb-2" >
  <RadzenFormField class="my-2 w-100" Component="Password" Text="@Loc["password"]" Variant="Variant.Filled">
    <RadzenPassword @bind-Value="Value" Name="Password"></RadzenPassword>
  </RadzenFormField>
  @if (ApplyValidators) {
    <RadzenRequiredValidator Component="Password" Text="@Loc["required"].Format("name", Loc["password"])"></RadzenRequiredValidator>
    <RadzenLengthValidator Component="Password" Min="3" Text="@Loc["too_short"].Format("name", Loc["password"]).Format("limit", 3)"></RadzenLengthValidator>
    <RadzenLengthValidator Component="Password" Max="32" Text="@Loc["too_long"].Format("name", Loc["password"]).Format("limit", 32)"></RadzenLengthValidator>
  }

</div>

@code {


  
  [Parameter]
  public bool ApplyValidators { get; set; } = true;

  //[Parameter]
  //public bool Visible { get; set; } = true;
}