<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="JwtSecret"
            value="zsysaoqspmwosbjoheeekbrsqupvfdqsncaprmfi2xbfivgvirdvskpmpfkceteznvbaaphtwwqyxyqfxuyfgfvjtazkedwwnocogbujeaorwcsrbyuyggznrvmzvfsw"/>
    <add key="JwtAudience" value=""/>
    <add key="JwtIssuer" value=""/>
    <add key="JwtTokenExpireMinutes" value="1080"/>
    <add key="SessionExpireMinutes" value="720"/>
    <add key="WebApiBaseUrl" value="https://"/>
    <add key="AdminCookieName" value="admin_auth_ck"/>
    <add key="UserCookieName" value="user_auth_ck"/>
    <add key="SessionCookieName" value=".Session.ECom"/>
    <add key="ImageResourceDirectory" value="C:\ImageResourceEcom"/>
    <add key="DatabaseConnectionString" value="Data Source=localhost;Initial Catalog=ECOM_DB_0041;Integrated Security=true;TrustServerCertificate=true"/>
    <add key="EnableSwagger" value="true"/>
  </appSettings>
</configuration>