<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="JWT_SECRET"
            value="zsysaoqspmwosbjoheeekbrsqupvfdqsncaprmfi2xbfivgvirdvskpmpfkceteznvbaaphtwwqyxyqfxuyfgfvjtazkedwwnocogbujeaorwcsrbyuyggznrvmzvfsw"/>
    <add key="JWT_ISSUER" value=""/>
    <add key="JWT_AUDIENCE" value=""/>
    <add key="JWT_TOKEN_EXPIRE_MINUTES" value="1080"/>
    <add key="SESSION_EXPIRE_MINUTES" value="720"/>
    <add key="HOST_URL" value="https://"/>
    <add key="ADMIN_COOKIE_NAME" value=".admin.auth"/>
    <add key="USER_COOKIE_NAME" value=".user.auth"/>
    <add key="SESSION_COOKIE_NAME" value=".session.dom"/>
    <add key="IMAGE_RESOURCE_DIRECTORY" value="C:\ImageResourceEcom"/>
    <add key="DATABASE_CONNECTION" value="Value Source=localhost;Initial Catalog=ECOM_DB_0043;Integrated Security=true;TrustServerCertificate=true"/>
    <add key="ENABLE_SWAGGER" value="true"/>
  </appSettings>
</configuration>