@inherits RadzenTextBox

<div class="mb-2">
  <RadzenFormField class="my-2 w-100" Component="Password" Text="@Loc["password"]" Variant="Variant.Filled">
    <RadzenPassword @bind-Value="Password" Name="Password"></RadzenPassword>
  </RadzenFormField>
  <RadzenRequiredValidator Component="Password" Text="@Loc["required"].Format("name", Loc["password"])"></RadzenRequiredValidator>
  <RadzenLengthValidator Component="Password" Min="3" Text="@Loc["too_short"].Format("name", Loc["password"]).Format("limit", 3)"></RadzenLengthValidator>
  <RadzenLengthValidator Component="Password" Max="32" Text="@Loc["too_long"].Format("name", Loc["password"]).Format("limit", 32)"></RadzenLengthValidator>
</div>

@code {

  private string _value;

  [Parameter]
  public string Password {
    get => _value;
    set {
      if (_value == value) return;
      _value = value;
      PasswordChanged.InvokeAsync(value);
    }
  }

  [Parameter]
  public EventCallback<string> PasswordChanged { get; set; }

}