<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="JwtSecret"
		     value="zsysaoqspmwosbjoheeekbrsqupvfdqsncaprmfi2xbfivgvirdvskpmpfkceteznvbaaphtwwqyxyqfxuyfgfvjtazkedwwnocogbujeaorwcsrbyuyggznrvmzvfsw" />
    <add key="JwtAudience" value="" />
    <add key="JwtIssuer" value="" />
    <add key="JwtTokenExpireMinutes" value="720" />
    <add key="SessionExpireMinutes" value="720" />
    <add key="WebApiBaseUrl" value="https://" />
  </appSettings>
  <connectionStrings>
    <add name="EComDB"
		     connectionString="Data Source=localhost;
		Initial Catalog=ECOM_DB_0035;
		Integrated Security=true;
		TrustServerCertificate=true"
		     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>