<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="JwtSecret"
         value="zsysaoqspmwosbjoheeekbrsqupvfdqsncaprmfi2xbfivgvirdvskpmpfkceteznvbaaphtwwqyxyqfxuyfgfvjtazkedwwnocogbujeaorwcsrbyuyggznrvmzvfsw" />
    <add key="JwtAudience" value="" />
    <add key="JwtIssuer" value="" />
    <add key="JwtTokenExpireMinutes" value="1080" />
    <add key="SessionExpireMinutes" value="720" />
    <add key="WebApiBaseUrl" value="https://" />
    <add key="CookieName" value="auth-token" />
  </appSettings>
  <connectionStrings>
    <add name="EComDB"
         connectionString="Data Source=localhost;
		Initial Catalog=ECOM_DB_0037;
		Integrated Security=true;
		TrustServerCertificate=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>